name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_SOMATIVA_2 }}
    
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: salazator/login-react:latest
      
    - name: Build Docker image
      run: docker build -t salazator/login-react .
      
    - name: Push Docker image to Docker Hub
      run: docker push salazator/login-react

  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Pull Docker image from Docker Hub
      run: docker pull salazator/login-react
      
    - name: Run security test (replace with SAST or DAST command)
      run: echo "Running security test..."
      
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Install ngrok
      run: |
        wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
        unzip ngrok-stable-linux-amd64.zip
      
    - name: Start ngrok
      run: ./ngrok http 3000 &

    - name: Get ngrok public URL
      id: ngrok
      run: echo "::set-output name=url::$(curl -s http://localhost:4040/api/tunnels | jq -r .tunnels[0].public_url)"
      
    - name: Notify on Discord
      run: |
        curl -X POST -H 'Content-Type: application/json' -d '{ "content": "New feature deployed! Check it out at ${{ steps.ngrok.outputs.url }}"}' https://discord.com/api/webhooks/1236109483659362395/dJCe2paGroyrsrNt5TvMVjmiVQM9Ty2kk-QUb5KXm1F666QSNMdEwuz-y67tJqlF0Sfu